@font-face {
  font-display: swap;
  font-family: "Segoe UI Semilight";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/SegoeUI-Semilight.eot");
  src: url("../fonts/SegoeUI-Semilight.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-Semilight.woff2") format("woff2"), url("../fonts/SegoeUI-Semilight.woff") format("woff"), url("../fonts/SegoeUI-Semilight.ttf") format("truetype"), url("../fonts/SegoeUI-Semilight.svg#SegoeUI-Semilight") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/SegoeUI-Light.eot");
  src: url("../fonts/SegoeUI-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-Light.woff2") format("woff2"), url("../fonts/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI-Light.ttf") format("truetype"), url("../fonts/SegoeUI-Light.svg#SegoeUI-Light") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SegoeUI.eot");
  src: url("../fonts/SegoeUI.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI.woff2") format("woff2"), url("../fonts/SegoeUI.woff") format("woff"), url("../fonts/SegoeUI.ttf") format("truetype"), url("../fonts/SegoeUI.svg#SegoeUI") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/SegoeUI-Semibold.eot");
  src: url("../fonts/SegoeUI-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-Semibold.woff2") format("woff2"), url("../fonts/SegoeUI-Semibold.woff") format("woff"), url("../fonts/SegoeUI-Semibold.ttf") format("truetype"), url("../fonts/SegoeUI-Semibold.svg#SegoeUI-Semibold") format("svg");
}

@font-face {
  font-display: swap;
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SegoeUI-Bold.eot");
  src: url("../fonts/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-Bold.woff2") format("woff2"), url("../fonts/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI-Bold.ttf") format("truetype"), url("../fonts/SegoeUI-Bold.svg#SegoeUI-Bold") format("svg");
}

:root {
  /* Fontes */
  --segoe: 'Segoe UI', 'Segoe UI Regular', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: inherit;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, svg, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #faf9f8;
  color: #292827;
}

body, button, input, select, textarea {
  font-family: var(--segoe);
}

h1 {
  font-size: 26px;
}

h2, h3 {
  margin-bottom: 20px;
  margin-top: 20px;
}

p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 1.2em;
}

a {
  text-decoration: none;
}

nav {
  background-color: #d83b01;
  height: 54px;
  padding: 0 32px 0 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1, nav .indice a {
  color: white;
}

nav .indice {
  display: flex;
}

nav a {
  padding: 16px 8px 10px;
  display: block;
  position: relative;
}

nav a:hover:before {
  background-color: #5b1f21;
  top: 40px;
  content: "";
  display: block;
  height: 2px;
  width: calc(100% - 16px);
  position: absolute;
}

.titulo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.centralizado {
  margin: auto;
  max-width: 520px;
}

main {
  padding: 20px;
}

.noticias {
  display: grid;
  gap: 28px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1, auto);
}

.noticia, .integrante, .fonte {
  background-clip: padding-box;
  background-color: #ffffff;
  border-radius: 2px;
  padding: 28px;
  -webkit-box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132), 0 .3px .9px 0 rgba(0, 0, 0, .108);
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132), 0 .3px .9px 0 rgba(0, 0, 0, .108);
}

.noticia figure {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 420px;
}

.noticia figure img, .integrante img {
  border-radius: 2px;
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 320px;
  -webkit-box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132), 0 .3px .9px 0 rgba(0, 0, 0, .108);
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132), 0 .3px .9px 0 rgba(0, 0, 0, .108);
}

.noticia figure figcaption {
  margin-top: 10px;
}

/* Página "Sobre nós */

nav.nav-sobrenos {
  background-color: #077568;
}

main h2.sobrenos {
  text-align: center;
}

.equipe {
  display: grid;
  gap: 28px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  margin: 0 auto;
  max-width: 1204px;
}

.integrante img {
  margin-bottom: 20px;
}

.integrante p {
  font-size: 16px;
  margin-bottom: 1.6em;
}

.integrante p, .integrante h3, .integrante .link {
  text-align: center;
}

.integrante .link a, input[type="submit"] {
  background-color: #0078d4;
  border: 1px solid #0078d4;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  height: 32px;
  min-width: 80px;
  outline: transparent;
  padding: 0px 16px;
  user-select: none;
}

.integrante .link a:hover, input[type="submit"]:hover {
  background-color: #106ebe;
  border: 1px solid #106ebe;
}

/* Página "Contato" */

.nav-contato {
  background-color: #6264a7;
}

form {
  background-clip: padding-box;
  background-color: #ffffff;
  border-radius: 2px;
  display: block;
  margin: 0 auto;
  padding: 28px;
  -webkit-box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132), 0 .3px .9px 0 rgba(0, 0, 0, .108);
  box-shadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, .132), 0 .3px .9px 0 rgba(0, 0, 0, .108);
  max-width: 520px;
}

.form {
  margin-top: 20px;
  margin-bottom: 20px;
}

label, input[type="email"], input[type="text"], textarea {
  box-shadow: none;
  font-size: 14px;
  margin: 0px;
}

label {
  display: inline-block;
  color: #323130;
  font-weight: 600;
  overflow-wrap: break-word;
  padding: 5px 0px;
}

input[type="email"], input[type="text"], textarea {
  background: none transparent;
  border: 1px solid #605e5c;
  border-radius: 2px;
  color: rgb(50, 49, 48);
  cursor: text;
  font-weight: 400;
  height: 32px;
  min-width: 0px;
  outline: 0px;
  padding: 0px 8px;
  text-overflow: ellipsis;
  width: 100%;
}

input[type="email"]:hover, input[type="text"]:hover, textarea:hover {
  border: 2px solid #106ebe;
}

input[type="submit"] {
  font-size: 16px;
}

/* Página "Saiba mais */

.nav-fontes {
  background-color: #7719aa;
}

.fontes {
  display: grid;
  gap: 28px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, auto);
}

.fonte .titulo {
  color: #430e60;
}

.grupo {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
}

.grupo img {
  height: auto;
  margin: 20px;
  max-width: 120px;
}

.grupo .link a {
  background-color: #7719aa;
  border: 1px solid #7719aa;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  min-width: 80px;
  padding: 0px 16px;
  user-select: none;
}

.grupo .link a:hover {
  background-color: #430e60;
}

footer {
  background-color: #edebe9;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

footer.contato {
  bottom: 0px;
  position: absolute;
  width: 100%;
}

footer h4 {
  display: block;
  color: #323130;
  font-weight: 400;
}